%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
  %body
    %div.container
      = haml :header

      %div.grid

        %div.flex_column
          = haml :intro

        %div.flex_column.side
          = haml :video2
          = haml :video1
