%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -# %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}
    %meta{ property: "og:url", content: "https://www.shakeit.so" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Shake It So!" }
    %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom and in person, for fun and for good!" }
    %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-disco-ball-logo.png" }
  %body
    %div.grid

      %div.page-margin
      %div.container
        %div.mg-tp-sm-1.text-align-center
          %img{ src: "/images/chamwabvi.jpg", width: "60%" }

        %div.pd-tp-sm-3.pd-hz-sm-1.text-align-center
          %h1 Dance Party with the Chamwabvi Secondary School

        %div.pd-hz-sm-1.pd-vt-sm-1
          Join us
          %strong Friday, June 8 at 8AM Eastern Time
          for a special dance party with the youths of the Chamwabvi Secondary School!

        %div.pd-tp-sm-3.pd-hz-sm-1.text-align-center
          %h2
            %a{ href: 'https://us06web.zoom.us/j/82579848429' }
              Join On Zoom


        %div.pd-hz-sm-1.pd-vt-sm-1.text-align-center
          https://us06web.zoom.us/j/82579848429
          %br
          Meeting ID: 825 7984 8429

        %div.pd-hz-sm-1.pd-vt-sm-1
          On my trip to Malawi, we visited three amazing schools. I was so impressed by the
          kids I met, they were so kind and very serious about their eduation. The Chamwabvi
          school holds a special place in my heart. Bridges To Malawi and K2 TASO have worked
          with the school on a number of projects, including a hostel so the girls can stay at
          the school, solar panels for power, a borehole for clean water, laptops, and more.
          Also, the students of the school have planted trees as part of the ongoing reforestation
          effort. It was just the girls there when I visited, because it was a holiday. They were
          simply wonderful, they love to dance and they were delighted when I danced with them.

        %div.pd-hz-sm-1.pd-vt-sm-1
          They will be joining us on Zoom for our 40 minute Friday morning dance party. We'll be dancing to
          songs they have requested. And we'll have a couple of small suprises for them at the end.
          I'd be delighted to have people of all ages join us. I think the kids of the Chamwabvi school
          would be especially happy to see teens around their own age (14-18).

        %div.pd-hz-sm-1.pd-vt-sm-2
          %h2 About Bridges To Malawi

        %div.pd-hz-sm-1.pd-bt-sm-2
          <a href="https://bridgestomalawi.org/">Bridges To Malawi</a> partners with K2 TASO, an organization created and run by native Malawians.
          Together they work on projects that have a direct and immediate impact on the lives of the
          people of Malawi, which is one of the poorest countries in the world.

        %div.pd-hz-sm-1.pd-bt-sm-2
          These organizations work on many amazing projects, including health care, agriculture, and education projects. This year,
          Shake It So is working to raise $13,500 to provide clean drinking water to 150,000 people for a year. Every year, many Malawians
          struggle to find clean drinking water. The consequences of drinking unclean water can be disastrous, especially for children.

        %div.pd-hz-sm-1.pd-bt-sm-2
          Any help you can provide would be greatly appreciated! Info on
          %a{ href: '/' }
            how to donate.
