%div.header
  %div.header-container
    %div.header-figure
      %img{ src: "/images/shake-it-so-logo.svg", height: 84 }
    %div.header-body
      %div
        Shake
      %div
        It So!
    %div.nav.desktop
      %div.nav-item
        %div
          %a{ href: "/" } Home
      %div.nav-item
        %div
          %a{ href: "/about" } About
      %div.nav-item
        %div
          %a{ href: "/playlists" } Playlists
  %div.nav.mobile
    %div.nav-item
      %div
        %a{ href: "/" } Home
    %div.nav-item
      %div
        %a{ href: "/about" } About
    %div.nav-item
      %div
        %a{ href: "/playlists" } Playlists
