%html
%head
  <meta name="viewport" content="width=device-width, initial-scale=1">
  %script{ src: "/scripts.js"}
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}
  %meta{ property: "og:url", content: "https://www.shakeit.so" }
  %meta{ property: "og:type", content: "website" }
  %meta{ property: "og:title", content: "Shake It So!" }
  %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom, for fun and for good!" }
  %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-logo-meta.png" }
  %body
    %div.grid

      %div.page-margin
      %div.container
        .mg-vt-sm-1.pd-hz-sm-1
          %a{ href: "/" }
            %img#dancers-header{ src: "/images/dancer-header.svg"  }

          %h1.mg-vt-sm-1 HHGH Party Video Script

          %p.mg-vt-sm-1
            Hi, I am [name/nombre]. I am a [volunteer] (position/posición) with
            [Shake It So] (organization/organización) and I am
            super excited to join the dance party on October thirtieth to
            raise money for an amazing organization. Helping Hands
            Grateful Hearts works with the most vulnerable communities
            in South and Central America to meet basic needs including
            housing, food, and clean water. I will be attending<br><br>
            both sessions (las dos sesiones) <strong>(OR/O)</strong><br>
            the afternoon session (la sesión de la tarde) <strong>(OR/O)</strong><br>
            the evening session (la sesión de la tarde) <strong>(OR/O)</strong><br><br>
            I would love to see you there. Go to shakeit dot so to sign up.

          %hr

          %p.mg-vt-sm-1
            Hola, me llamo [name/nombre]. Soy [voluntario] (position/posición)
            en [Shake It So] (organization/organización) y
            estoy muy emocionado por sumarme a la fiesta de baile el treinta de
            octubre y recaudar fondos para una organización increíble. Helping
            Hands Grateful Hearts trabaja con comunidades vulnerables en Sur
            y Centroamérica, brindando respuesta a necesidades básicas como
            vivienda, alimentos y agua. Estaré participando en<br><br>
            las dos sesiones (both sessions) <strong>(OR/O)</strong><br>
            la sesión de la tarde (the afternoon session) <strong>(OR/O)</strong><br>
            la sesión de la noche (the evening session) <strong>(OR/O)</strong><br><br>
            Me encantaría verte ahí. Regístrate en shakeit.so



        %div.page-margin
