%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
  %body

    %div.container

      %div.header Shake It So!

      %div.grid
        = haml :party
        = haml :player, locals: locals
        = haml :intro
        = haml :video1
