%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
  %body

    %div.container

      %div.header Shake It So!

      %div.grid

        %div.box
          %h1 Shake It, What?
          %p
            %strong
              Shake It So
            is an group of people who like to dance, on Zoom, for fun! Our morning dance parties free and are held every
            %strong
              Tuesday - Thursday at 8-8:40AM Eastern Time.

          %h2 International Dance Parties!
          On the
          %strong
            first Saturday
          of every month, we have two International Dance Parties, at
          %strong
            2-3PM and 8-9PM
          Easten Time. These are MUCH bigger events, and we raise money for various charities with a suggested donation.

        - if song
          %div.box
            = haml :player, locals: { song: song, image: image, artist: artist, time_remaining: time_remaining, progress_width: progress_width }
        - else
          %div.box
            %div.image-container
              %img{ src: "/march-party.jpg" }

        %div.box
          %h1 Saturday, March 6, 2021

          %h2.subhead
            2PM EST (19:00 UTC)
            %br & 8PM EST (01:00 UTC March 7)

          %p.big
            Join us on
            %a{ href: "https://zoom.us/j/92598419908?pwd=R1d2NWRnRkgvWURYcHFVRXBJMjF0Zz09#success" }
              Zoom!

          %ul
            %li Two, one hour sessions
            %li An eclectic blend of funk, soul, & rock from the '60s to the present
            %li
              Suggested
              %a{ href: "https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=8BX59NH8TN9BG&source=danceparty"}
                = "donation"
              of any amount to support several patient advocacy nonprofits

          %h3 Organizations include:

          %ul
            %li
              %a{ href: "https://www.peoplewithempathy.org/"}
                People With Empathy
            %li
              %a{ href: "https://www.ataxia-aware.com/"}
                Ataxia and Me
            %li
              %a{ href: "https://lightcollective.org/"}
                The Light Collective
            %li
              %a{ href: "https://fibroflutters.com/"}
                FibroFlutters Patient Advocacy Organisation

        %div.box

          <iframe width="400" height="225" src="https://www.youtube.com/embed/XODIXz7YSiM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
