%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -# %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}
    %meta{ property: "og:url", content: "https://www.shakeit.so" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Shake It So!" }
    %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom and in person, for fun and for good!" }
    %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-disco-ball-logo.png" }
  %body
    %div.grid

      %div.page-margin
      %div.container
        %div.mg-tp-sm-1.text-align-center
          %img{ src: "/images/shake-it-so-disco-ball-logo.png"}

        %div.pd-hz-sm-1.pd-vt-sm-3
          In 2022, Shake It So is raising money for the Hudson, Massachusetts-based nonprofit <a href="https://bridgestomalawi.org/">Bridges To Malawi</a>, which works with
          partners in Malawi on many projects to fight disease, hunger, and poverty in Malawi.

        %div.pd-hz-sm-1.pd-bt-sm-2
          %h2 How To Donate

        %div.pd-hz-sm-1.pd-bt-sm-1.pd-tp-sm-1
          %h3 Option 1: Venmo

        %div.pd-hz-sm-1.pd-bt-sm-3
          When you use Vemno, there is no transaction fee, so all of the money you donate goes directly to the
          projects which are helping the people of Malawi. Make your donation to: <a href="https://venmo.com/bridgestomalawi">@BridgesToMalawi</a>

        %div.pd-hz-sm-1.pd-bt-sm-3
          Brian Lisse is the listed name, Brian is the director of Bridges To Malawi.


        %div.pd-hz-sm-1.pd-bt-sm-1.pd-tp-sm-1
          %h3 Option 2: Mail

        %div.pd-hz-sm-1
          Also no transaction fee, unless you count the stamp! Make your check out to Bridges To Malawi and mail your donation to:

        %div.pd-hz-sm-3.pd-vt-sm-2
          Bridges To Malawi<br />
          7 Curley Dr<br />
          Hudson, MA 01749

        %div.pd-hz-sm-1.pd-bt-sm-1.pd-tp-sm-1
          %h3 Option 3: GoFundMe

        %div.pd-hz-sm-1.pd-bt-sm-3
          We have set up a fundraiser in <a href='https://gofund.me/5e212e32'</a>GoFundMe</a>. Your contribution will go to
          Bridges To Malawi, minus a small transaction fee.

        %div.pd-hz-sm-1.pd-bt-sm-2
          %h2 About Bridges To Malawi

        %div.pd-hz-sm-1.pd-bt-sm-2
          <a href="https://bridgestomalawi.org/">Bridges To Malawi</a> partners with K2 TASO, an organization created and run by native Malawians.
          Together they work on projects that have a direct and immediate impact on the lives of the
          people of Malawi, which is one of the poorest countries in the world.

        %div.pd-hz-sm-1.pd-bt-sm-2
          These organizations work on many amazing projects, including health care, agriculture, and education projects. This year,
          Shake It So is working to raise $13,500 to provide clean drinking water to 150,000 people for a year. Every year, many Malawians
          struggle to find clean drinking water. The consequences of drinking unclean water can be disastrous, especially for children.

        %div.pd-hz-sm-1.pd-nt-sm-3
          Any help you can provide would be greatly appreciated!

        %div.pd-bt-sm-1.pd-tp-sm-3.pd-hz-sm-1.text-align-center
          %hr

        .pd-hz-sm-1.mg-tp-sm-1
          Shake It So is all about dancing, on Zoom and in person, for fun and for good! Learn more <a href="/about">about us</a>
          and about our <a href="/international">international dance parties</a>.

        .pd-hz-sm-1.mg-tp-sm-4.mg-bt-sm-6
          %small
            You can find information about weekday Zoom dance parties on
          %a{ href: "https://www.facebook.com/groups/383125680200810" }
            Facebook.


            -# https://www.gofundme.com/f/bridges-to-malawi-clean-water-project?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1

            -# https://gofund.me/5e212e32

      %div.page-margin

    -#       %img#dancers-header{ src: "/images/dancer-header.svg"  }
    -#       %h1.mg-tp-sm-2.mg-bt-sm-2.pd-hz-sm-1.text-align-center

        foo


    -#       %img#dancers{ src: "/images/dancers-on-grass.svg"  }
    -#       %div.dancers-below-text.pd-bt-sm-2
    -#         Shake It So is all about dancing, on Zoom and in person, for fun and for good!
    -#         In October, we were very proud to work with with <a href="https://helpinghandsgratefulhearts.org">
    -#         Helping Hands Grateful Hearts</a>. Their
    -#         mission is to work with the most vulnerable communities around the world by meeting basic needs
    -#         and giving hope and power to rise out of poverty.

    -#       .pd-hz-sm-1.mg-vt-sm-3
    -#         We help organizations like HHGH by raising funds, building community, educating people about their mission, and celebrating their
    -#         successes while dancing our hearts out! In Ocrobwe, we raised <strong>$1,548</strong> to help this amazing organization. While the party may be over, donations are still very much appreciated.

    -#       .pd-hz-sm-1.mg-tp-sm-2.mg-bt-sm-1
    -#         %a.button{ href: "https://helpinghandsgratefulhearts.org/shake-it-so-helping-hands-grateful-hearts-team-up/" }
    -#           Donate to Helping Hands Greatful Hearts
