%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}
    %meta{ property: "og:url", content: "https://www.shakeit.so" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Shake It So!" }
    %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom and in person, for fun and for good!" }
    %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-logo-meta.png" }
  %body
    %div.grid

      %div.page-margin
      %div.container
        %div.mg-tp-sm-1
          %img#dancers-header{ src: "/images/dancer-header.svg"  }
          %h1.mg-tp-sm-2.mg-bt-sm-2.pd-hz-sm-1.text-align-center
            International Dance Celebration <br />
            Saturday, October 30th<br />
            <br/>
            2PM & 8PM Eastern Time<br />
            12PM & 6PM Guatemalan Time


          %img#dancers{ src: "/images/dancers-on-grass.svg"  }
          %div.dancers-below-text.pd-bt-sm-2
            Shake It So is all about dancing, on Zoom and in person, for fun and for good!
            This month, we are very excited to be working with <a href="https://helpinghandsgratefulhearts.org">
            Helping Hands Grateful Hearts</a>. Their
            mission is to work with the most vulnerable communities around the world by meeting basic needs
            and giving hope and power to rise out of poverty.

          .pd-hz-sm-1.mg-tp-sm-4
            We help organizations like HHGH by raising funds, building community, educating people about their mission, and celebrating their
            successes while dancing our hearts out! Please consider making a donation of any amount.

          .pd-hz-sm-1.mg-tp-sm-2.mg-bt-sm-1
            %a.button{ href: "https://helpinghandsgratefulhearts.org/shake-it-so-helping-hands-grateful-hearts-team-up/" }
              Donate to Helping Hands Greatful Hearts

          .pd-hz-sm-1.mg-tp-sm-4
            Sign up and we'll send you an email with the connection info so you can join the party on October 30! We'll send you one link that
            will work for both the afternoon and evening sessions.

          .pd-hz-sm-1.mg-tp-sm-2.mg-bt-sm-3
            %a.button.blue{ href: "/party/#{Party.last.id}" }
              Sign Up


        .pd-hz-sm-1.mg-tp-sm-4
          Learn more <a href="/about">about us</a> and about our <a href="/international">international dance parties</a>.

        .pd-hz-sm-1.mg-tp-sm-4.mg-bt-sm-6
          %small
            You can find information about weekday Zoom dance parties on
            %a{ href: "https://www.facebook.com/groups/383125680200810" }
              Facebook.
      %div.page-margin
