%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}
    %meta{ property: "og:url", content: "https://www.shakeit.so" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Shake It So!" }
    %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom, for fun and for good!" }
    %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-logo-meta.png" }
  %body
    %div.grid

      %div.page-margin
      %div.container
        %div.mg-tp-sm-1
          %img#dancers-header{ src: "/images/dancer-header.svg"  }
          %h1.mg-tp-sm-2.mg-bt-sm-2.pd-hz-sm-1.text-align-center
            International Dance Celebration May 8, 8PM ET
          %h1.mg-bt-sm-2.text-align-center
            %div#counter{ style: "display: none" }
            %div#zoom-link{ style: "display: none" }
          %img#dancers{ src: "/images/dancers-on-grass.svg"  }
          %div.dancers-below-text.pd-bt-sm-2
            This month, we are very excited to be working with
            Youth and Family Enrichment Services, Inc., whose mission is to educate,
            inspire, and empower members of at-risk, immigrant communities in Boston.

        .pd-hz-sm-1.mg-tp-sm-2
          .img-rt
            %div
              The mission of Youth and Family Enrichment Services, Inc. is to educate,
              inspire, and empower members of at-risk, immigrant communities in Boston. YoFES is committed to  providing
              children, families, and adult individuals with the necessary tools to lead successful, healthy, and
              fulfilling lives in the face of poverty, social and racial inequity, and cultural transitions.
            %a{ href: "https://www.yofes.org/programs" }
              %img.mg-vt-sm-1.partner-logo{ src: "/images/yofes.webp" }


          .pd-hz-sm-1.mg-tp-sm-2.mg-bt-sm-1
          %a.button{ href: "https://www.gofundme.com/f/shake-it-so-intl-dance-celebration-for-yosef" }
            Donate to YoFES

          .mg-tp-sm-4
            You don't have to sign up ahead of time, but we appreciate it if you do!

        .pd-hz-sm-1.mg-tp-sm-2.mg-bt-sm-3
          %a.button.blue{ href: "/party/1" }
            Sign Up

        .pd-hz-sm-1.mg-v2-sm-2
          %h2 Once a month not enough for ya?

          .pd-vt-sm-1
            We also host free morning parties Tuesday through Friday at 8-8:40AM Eastern Time.
            If you would like to join, you can <a href="https://forms.gle/awegVU55wxXGeDqN9">sign up</a> to get the Zoom link
            or check out our most recent <a href="/playlists">playlists</a>.

        .pd-hz-sm-1.mg-tp-sm-2.mg-bt-sm-6
          Learn more <a href="/about">about us</a> and about our <a href="/international">international dance parties</a>.
      %div.page-margin
