%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
    %meta{ property: "og:url", content: "https://www.shakeit.so" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Shake It So!" }
    %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom, for fun and for good!" }
    %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-logo-meta.png" }
  %body
    %div.container
      = haml :header

      %div.grid
        %div.flex_column
          %div.box
            %h1
              Join Us Saturday, May 8 at 8PM ET for our next International Dance Celebration!

            .buttons
              %div.countdown
                %div#counter{ style: "display: none" }
                %div#zoom-link{ style: "display: none" }
                  %a{ href: "https://zoom.us/j/95444452847?pwd=UE9xd0o4Ky80eUdGSXdjR2FCbmtSZz09" }
                    Launch Zoom

                  %div Passcode: 705249

                  %div If you can't get on, send a text to 978-758-9931

              %a.request-button{ href: "https://docs.google.com/forms/d/e/1FAIpQLSdvQi87VJ8CpQCfehIQiVYuDEKrEdP3y4JH5Xzss3FZV40cMQ/viewform?usp=sf_link" }
                %div Make a Request

              %a.donate-button{ href: "https://secure.lglforms.com/form_engine/s/Nvi4Gx7qgiMBA52P9fwFHA" }
                %div Donate


            %img{ src: "/images/dancers.png", width: "100%", style: "margin-bottom: 1em" }

            %p
              Every month, Shake It So hosts an international dance celebration to shine light on a non-profit while adding
              music and dance to your soul. Each session is one hour long and no RSVP required.

          %h2 Previous Events
          = haml :party_3
          = haml :party_2
          = haml :party_1

        %div.flex_column.side
          %div.box
            <a href="https://forms.gle/awegVU55wxXGeDqN9">Sign up</a>
            to join our morning parties Tuesday through Friday at 8-8:40AM Eastern Time.
