%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}
    %meta{ property: "og:url", content: "https://www.shakeit.so" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Shake It So!" }
    %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom, for fun and for good!" }
    %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-logo-meta.png" }
  %body
    %div.grid

      %div.page-margin
      %div.container
        %div.mg-tp-sm-1
          %img#dancers-header{ src: "/images/dancer-header.svg"  }
          %h1.mg-tp-sm-2.mg-bt-sm-2.pd-hz-sm-1.text-align-center
            International Dance Celebration June 5, 8PM ET
          %h1.text-align-center
            .mg-bt-sm-2#counter{ style: "display: none" }
            .mg-bt-sm-2#zoom-link{ style: "display: none" }
              %a{ href: "https://zoom.us/j/97060856343?pwd=WU1SMG1RbDdzdG95T2lXOFAzb3JJdz09" }
                Join On Zoom
              .passcode Passcode: 017596

          %img#dancers{ src: "/images/dancers-on-grass.svg"  }
          %div.dancers-below-text.pd-bt-sm-2
            This month, we are very excited to be raising money for Treehouse Foundation in Easthampton, MA!
            Their Suitcase Program provides luggage to children in foster care. $25 buys one suitcase.
            Let's see if we can buy 28 of them!

        .pd-hz-sm-1.mg-tp-sm-2
          .img-rt
            %div
              Treehouse promotes public investment in our most vulnerable children.
              They inspire, implement and support innovative child welfare practices
              to ensure children who experience foster care find forever families
              and supportive communities, empowering them to lead fulfilling, productive lives.
            %img.mg-vt-sm-1.partner-logo{ style: "width: 100px", src: "https://cdn.firespring.com/images/6726d6e2-7b05-4a90-b65f-c6f9a77fd8dd.png" }


          .pd-hz-sm-1.mg-tp-sm-2.mg-bt-sm-1
          %a.button{ href: "https://www.gofundme.com/f/shake-it-so-dance-celebration-for-treehouse-fnd?utm_source=customer&utm_medium=copy_link&utm_campaign=p_cf+share-flow-1" }
            Donate to Treehouse Foundation

          .mg-tp-sm-4
            You don't have to sign up ahead of time, but we appreciate it if you do!

        .pd-hz-sm-1.mg-tp-sm-2.mg-bt-sm-3
          %a.button.blue{ href: "/party/1" }
            Sign Up

        .pd-hz-sm-1.mg-v2-sm-2
          %h2 Once a month not enough for ya?

          .pd-vt-sm-1
            We also host free 40 minute morning parties Mondays at noon Tuesdays through Fridays at 8AM Eastern Time.
            If you would like to join, you can <a href="https://forms.gle/awegVU55wxXGeDqN9">sign up</a> to get the Zoom link
            or check out our most recent <a href="/playlists">playlists</a>.

        .pd-hz-sm-1.mg-tp-sm-2.mg-bt-sm-6
          Learn more <a href="/about">about us</a> and about our <a href="/international">international dance parties</a>.
      %div.page-margin
