%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}
    %meta{ property: "og:url", content: "https://www.shakeit.so" }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:title", content: "Shake It So!" }
    %meta{ property: "og:description", content: "Shake It So is all about dancing, on Zoom and in person, for fun and for good!" }
    %meta{ property: "og:image", content: "https://www.shakeit.so/images/shake-it-so-logo-meta.png" }
  %body
    %div.grid

      %div.page-margin
      %div.container
        %div.mg-tp-sm-1
          %img#dancers-header{ src: "/images/dancer-header.svg"  }


          %img#dancers{ src: "/images/dancers-on-grass.svg"  }
          %div.dancers-below-text.pd-bt-sm-2
            Shake It So is all about dancing, on Zoom and in person, for fun and for good! Join one of
            our 40 mminute morning or noon dance parties
            any time, or keep an eye out for our next Saturday night fundraisers.


        .pd-hz-sm-1.mg-tp-sm-3.mg-bt-sm-2{ style: "dispay: flex; align-self: center"}
          %table.data-grid
            %tr
              %td Monday
              %td 12:00 PM ET
            - %w(Tuesday Wendesday Thursday Friday).each do |day|
              %tr
                %td= day
                %td 8:00 AM ET

        .pd-hz-sm-1
          If you would like to join, you can <a href="https://docs.google.com/forms/d/e/1FAIpQLSebE3y--4TXnWty-R4F_LVbbF842mKkIthEpyrZX67ayWJXzQ/viewform">sign up</a> to get the Zoom link
          or check out our most recent <a href="/playlists">playlists</a>.

        .pd-hz-sm-1.mg-tp-sm-4.mg-bt-sm-6
          Learn more <a href="/about">about us</a> and about our <a href="/international">international dance parties</a>.
      %div.page-margin
