%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
  %body
    %div.container
      = haml :header

      %div.grid
        %div.flex_column
          %h1 What are our International Dance Celebrations?

          %p They are a lot like our morning parties with people simply dancing together on Zoom. But there are a few differences:

          %ul
            %li The International Dance Celebrations are single day, multi-session events. Usually they are on the first Saturday of every month, with two one-hour sessions, one at 2 PM and one at 8 PM Eastern time.
            %li These events are focused on supporting non profit organizations that advance human rights, racial justice, health care, and other social issues. These organizations might have a global focus, or we might work with multiple small organizations operating in different countries.
            %li We try to get people to join these events from inside and outside the United States. So far we’ve had 2 events with people joining from the US, the UK, and Argentina. But we’re just getting started!

          %p
            To join one of our International Dance Celebrations, go to the
            %a{ href: "/" } home page
            at the appropriate time, and click on the link to join the party!

          %h2 What are the sessions like?
          %p Everyone is muted so we can hear the music, but people should feel comfortable participating in whatever way they like. Cameras can be on or off, and dancing is encouraged but not required. And dancing can mean just about anything, from tapping a toe to jumping all around. Many people have a great time listening to the music and participating in the quite lively chat.

          %h2 How do you support organizations?
          %p We ask for a donation of any amount to one of the organizations we are supporting. We don’t handle the money, donations go directly to the organizations. Or we set up fundraisers through GoFundMe, which supports many nonprofits and lets us keep track of our progress.

          %p Ideally, we like to work with organizations with staff who are interested in joining the parties! These people work hard, often with few opportunities unwind, cut loose, and celebrate. Providing such an opportunity is also, in addition to fundraising, an important part of how we can support organizations that are doing such important work.

        %div.flex_column.side
