%div.box.intro
  %h1 Shake It, What?
  %p
    %strong
      Shake It So
    is a group of people who like to dance, on Zoom, for fun! Our morning dance parties are free every
    %strong
      Tuesday through Friday at 8-8:40AM Eastern Time.

  %h2 International Dance Parties!
  On the
  %strong
    first Saturday
  of every month, we have two International Dance Parties, at
  %strong
    2-3PM and 8-9PM
  Easten Time. These are MUCH bigger events, and we raise money for various charities with a suggested donation.
