%h3.mg-vt-sm-1 May 8, 2021

%p.mg-bt-sm-1
  In May we danced for, and with, Youth and Family Enrichment Services, Inc. (YoFES), and raised $675!
  The best parts of the night were:
  %ol.mg-bt-sm-1
    %li Dancing to Haitian song requests from YoSEF. What great music for dancing!
    %li Finding out about how much our donations would do to support young Haitian immigrants in the Boston area.

%p.mg-bt-sm-1
  The mission of YoFES is to educate,
  inspire, and empower members of at-risk, immigrant communities in Boston. YoFES is committed to  providing
  children, families, and adult individuals with the necessary tools to lead successful, healthy, and
  fulfilling lives in the face of poverty, social and racial inequity, and cultural transitions.
