%div.box.content
  %h1 April 10, 2021

  %p Two one hour sessions 2PM EST (19:00 UTC) & 8PM EST (01:00 UTC April 11)

  %p
    We are very excited to announce that we will be working with the
    %a{ href: "https://www.facebook.com/BerlinMASJN" }Berlin Social Justice Network
    to throw our best dance party yet, raising money for the Worcester based
    <a href="http://www.lgbtasylum.org/">LGBT Asylum Task Force</a>, an organization helping LGBTQ asylum seekers
    from all over the world!

  %h2{ id: "countdown" }

  %p
    %em Our 3nd International Dance Celebration will be held on the 2nd Saturday of April to avoid Easter weekend.
