%h3.mg-vt-sm-1 March 6, 2021

%p.mg-bt-sm-1
  We had at least 25 people, mostly from the U.S. and U.K. Fundraising numbers forthcoming. Funds raised through our
  second party were in support of these organizations:

%ul
  %li
    %a{ href: "https://www.peoplewithempathy.org/"}
      People With Empathy
  %li
    %a{ href: "https://www.ataxia-aware.com/"}
      Ataxia and Me
  %li
    %a{ href: "https://lightcollective.org/"}
      The Light Collective
  %li
    %a{ href: "https://fibroflutters.com/"}
      FibroFlutters Patient Advocacy Organisation
