%div.box
  %h1 2nd International Dance Celebration

  %p <strong>Today!</strong> Two one hour sessions 2PM EST (19:00 UTC) & 8PM EST (01:00 UTC March 7)


  %h2{ id: "countdown" }

  %p#zoom-link.big{ style: "display: none;"}
    Join us on
    %a{ href: "https://zoom.us/j/92598419908?pwd=R1d2NWRnRkgvWURYcHFVRXBJMjF0Zz09#success" }
      Zoom!

  %p Please consider making a donation of any amount to support several patient advocacy nonprofits.

  %div.donation
    %a{ href: "https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=8BX59NH8TN9BG&source=danceparty", class: "donate-button" }
      Make a Donation

  %h3 Funds raised will support these nonprofits:

  %ul
    %li
      %a{ href: "https://www.peoplewithempathy.org/"}
        People With Empathy
    %li
      %a{ href: "https://www.ataxia-aware.com/"}
        Ataxia and Me
    %li
      %a{ href: "https://lightcollective.org/"}
        The Light Collective
    %li
      %a{ href: "https://fibroflutters.com/"}
        FibroFlutters Patient Advocacy Organisation
