%h3.mg-tp-sm-3.mg-bt-sm-1 August 7, 2021

%p.mg-bt-sm-1
  In August we danced for Greater Boston Legal Services, Inc. and raised $360!
  Every day, GBLS attorneys and paralegals provide critical legal advice and representation to low-income individuals. In
  addition, thousands of other  poor families and individuals benefit from the systemic advocacy GBLS carries out on
  behalf of its clients.

%p.mg-bt-sm-1
  Despite all GBLS' extraordinary work, it is not enough. Every day, three our of five clients with legitimate claims are
  turned away due to a lack of staffing resources. These people, with meritorious legal claims, have nowhere else to turn
  to seek justice. GBLS, and those they serve, need our support. Many thanks to all who joined us to celebrate all
  that GBLS has acheived, and those who donated to help them do more!
