%h3.mg-vt-sm-1 June 5, 2021

%p.mg-bt-sm-1
  In June we danced for the Treehouse Foundation and raised $225, enough for 9 suitcases for Massachusetts kids in foster care!

%p.mg-bt-sm-1
  Every day, in child welfare offices across America, girls and boys living in foster care wait to find out
  where they will go next. Their belongings sit next to them on the floor... in garbage bags.

%p.mg-bt-sm-1
  The Treehouse Foundation's Suitcase Project Help's restore their hope and dignity! They provide children
  and youth with a brand new suitcase or duffle bag to replace their garbage bags. This sends them a message:

%ul.mg-bt-sm-1
  %li You deserve to be treated with respect.
  %li You are a valued member of our community.
  %li Even if we can’t be foster or adoptive parents, we want to help.

%p.mg-bt-sm-1
  Treehouse promotes public investment in our most vulnerable children.
  They inspire, implement and support innovative child welfare practices
  to ensure children who experience foster care find forever families
  and supportive communities, empowering them to lead fulfilling, productive lives.
