%h3.mg-tp-sm-3.mg-bt-sm-1 October 30, 2021

%p.mg-bt-sm-1
  In October we danced for Helping Hands Grateful Hearts and raised a whopping $1,548!
  Helping Hands Grateful Hearts brings a small team of volunteers to Guatemala every
  year to work alongside Guatemalans to build homes. We truly believe that these kinds
  of international partnerships can change the world. We would like to thank
  you from the bottom of our hearts for celebrating this important work with us.
%p.mg-bt-sm-1
  And not only did we dance, but we learned all about the US holiday of Halloween and
  the Guatemalan holiday El Día de Todos los Santos (All Saints Day), and we had a special
  performance by the Miami based Sunny Side Up band! It was a truly spectacular event.
