%div.box
  %h1 3nd International Dance Celebration

  %p <strong>April 10, 2021!</strong> Two one hour sessions 2PM EST (19:00 UTC) & 8PM EST (01:00 UTC April 11)

  %p
    %em We are moving to the 2nd Saturday of April because the first one is Easter weekend.

  %p
    We are very excited to anounce that we will be working with the Berlin Social Justice Network to throw our best dance
    party yet and raise money local Massachusetts organizations. We will also be looking for international organizations to
    partner with. 

  %h2{ id: "countdown" }
