%div.box

  %h1 Our 2nd International Dance Celebration: Huge Success!

  %p We had at least 25 people, mostly from the U.S. and U.K. Fundraising numbers forthcoming. You can still make a donation of any amount to support several patient advocacy nonprofits!

  %div.donation
    %a{ href: "https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=8BX59NH8TN9BG&source=danceparty", class: "donate-button" }
      Make a Donation

  %h3 Funds raised will support these nonprofits:

  %ul
    %li
      %a{ href: "https://www.peoplewithempathy.org/"}
        People With Empathy
    %li
      %a{ href: "https://www.ataxia-aware.com/"}
        Ataxia and Me
    %li
      %a{ href: "https://lightcollective.org/"}
        The Light Collective
    %li
      %a{ href: "https://fibroflutters.com/"}
        FibroFlutters Patient Advocacy Organisation

  %h1 3nd International Dance Celebration

  %p <strong>April 3, 2021!</strong> Two one hour sessions 2PM EST (19:00 UTC) & 8PM EST (01:00 UTC April 4)


  %h2{ id: "countdown" }
