%div.box.content

  %h1 April 10, 2021

  %p
    The party may be over, but you can still donate to the
    <a href="http://www.lgbtasylum.org/">LGBT Asylum Task Force</a>!

  %p
    In April, we raised over $500 for the<a href="http://www.lgbtasylum.org/">LGBT Asylum Task Force</a>, an organization that
    provides comprehensive support in housing, food, and connection to legal, medical, and mental resources during the
    vital time that asylum seekers arrive in this country, but are not allowed to work. We were also excited to work with the
    %a{ href: "https://www.facebook.com/BerlinMASJN" }Berlin Social Justice Network
    to throw our best dance party yet, and we'll be working with them more in the months to come!
