%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/player.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}

  %body
    .now-playing-container.mg-vt-sm-2.mg-hz-sm-2
      .note{ style: "display: none" }
      .now-playing
        %img.image{ src: "/images/loading.gif" }
        .song-info
          .song
          .artist
      .progress-container
        .time-remaining
        .progress-bar{ style: "width: 20%" }
