%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/styles.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/player.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/css/generated-styles.css"}

  %body
    .now-playing-container.mg-vt-sm-2.mg-hz-sm-2
      .now-playing
        %img.image{ src: "/images/twice-as-hard.jpg" }
        .song-info
          .song Twice As Hard
          .artist The Black Crowes
          .note Keep rockin'
      .progress-container
        .time-remaining -2:34
        .progress-bar{ style: "width: 20%" }
