%html
  %head
    <meta name="viewport" content="width=device-width, initial-scale=1">
    %script{ src: "/scripts.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/reset.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/styles.css"}
  %body
    %div.container
      = haml :header

      %div.grid

        %div.flex_column
          %div.box.intro
            %h1 Playlists
            %p
              Every morning party, and each monthly International Dance Celebration, has a carefully curated playlist. Here are our most recent.

          - ids.each do |id|
            %div.box
              <iframe src="https://open.spotify.com/embed/playlist/#{id}" width="420" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

        %div.flex_column.side
          = haml :player, locals: locals
