@media screen and (min-width: 0px) {
  .pd-tp-sm-1 {
    padding-top: 1rem;
  }
  .pd-tp-sm-2 {
    padding-top: 2rem;
  }
  .pd-tp-sm-3 {
    padding-top: 3rem;
  }
  .pd-tp-sm-4 {
    padding-top: 4rem;
  }
  .pd-tp-sm-5 {
    padding-top: 5rem;
  }
  .pd-tp-sm-6 {
    padding-top: 6rem;
  }
  .pd-bt-sm-1 {
    padding-bottom: 1rem;
  }
  .pd-bt-sm-2 {
    padding-bottom: 2rem;
  }
  .pd-bt-sm-3 {
    padding-bottom: 3rem;
  }
  .pd-bt-sm-4 {
    padding-bottom: 4rem;
  }
  .pd-bt-sm-5 {
    padding-bottom: 5rem;
  }
  .pd-bt-sm-6 {
    padding-bottom: 6rem;
  }
  .pd-rt-sm-1 {
    padding-right: 1rem;
  }
  .pd-rt-sm-2 {
    padding-right: 2rem;
  }
  .pd-rt-sm-3 {
    padding-right: 3rem;
  }
  .pd-rt-sm-4 {
    padding-right: 4rem;
  }
  .pd-rt-sm-5 {
    padding-right: 5rem;
  }
  .pd-rt-sm-6 {
    padding-right: 6rem;
  }
  .pd-lt-sm-1 {
    padding-left: 1rem;
  }
  .pd-lt-sm-2 {
    padding-left: 2rem;
  }
  .pd-lt-sm-3 {
    padding-left: 3rem;
  }
  .pd-lt-sm-4 {
    padding-left: 4rem;
  }
  .pd-lt-sm-5 {
    padding-left: 5rem;
  }
  .pd-lt-sm-6 {
    padding-left: 6rem;
  }
  .pd-hz-sm-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .pd-hz-sm-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .pd-hz-sm-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .pd-hz-sm-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .pd-hz-sm-5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .pd-hz-sm-6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .pd-vt-sm-1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .pd-vt-sm-2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .pd-vt-sm-3 {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .pd-vt-sm-4 {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  .pd-vt-sm-5 {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .pd-vt-sm-6 {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .mg-tp-sm-1 {
    margin-top: 1rem;
  }
  .mg-tp-sm-2 {
    margin-top: 2rem;
  }
  .mg-tp-sm-3 {
    margin-top: 3rem;
  }
  .mg-tp-sm-4 {
    margin-top: 4rem;
  }
  .mg-tp-sm-5 {
    margin-top: 5rem;
  }
  .mg-tp-sm-6 {
    margin-top: 6rem;
  }
  .mg-bt-sm-1 {
    margin-bottom: 1rem;
  }
  .mg-bt-sm-2 {
    margin-bottom: 2rem;
  }
  .mg-bt-sm-3 {
    margin-bottom: 3rem;
  }
  .mg-bt-sm-4 {
    margin-bottom: 4rem;
  }
  .mg-bt-sm-5 {
    margin-bottom: 5rem;
  }
  .mg-bt-sm-6 {
    margin-bottom: 6rem;
  }
  .mg-rt-sm-1 {
    margin-right: 1rem;
  }
  .mg-rt-sm-2 {
    margin-right: 2rem;
  }
  .mg-rt-sm-3 {
    margin-right: 3rem;
  }
  .mg-rt-sm-4 {
    margin-right: 4rem;
  }
  .mg-rt-sm-5 {
    margin-right: 5rem;
  }
  .mg-rt-sm-6 {
    margin-right: 6rem;
  }
  .mg-lt-sm-1 {
    margin-left: 1rem;
  }
  .mg-lt-sm-2 {
    margin-left: 2rem;
  }
  .mg-lt-sm-3 {
    margin-left: 3rem;
  }
  .mg-lt-sm-4 {
    margin-left: 4rem;
  }
  .mg-lt-sm-5 {
    margin-left: 5rem;
  }
  .mg-lt-sm-6 {
    margin-left: 6rem;
  }
  .mg-hz-sm-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mg-hz-sm-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .mg-hz-sm-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mg-hz-sm-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .mg-hz-sm-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .mg-hz-sm-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .mg-vt-sm-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .mg-vt-sm-2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .mg-vt-sm-3 {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .mg-vt-sm-4 {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .mg-vt-sm-5 {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .mg-vt-sm-6 {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}
@media screen and (min-width: 376px) {
  .pd-tp-md-1 {
    padding-top: 1rem;
  }
  .pd-tp-md-2 {
    padding-top: 2rem;
  }
  .pd-tp-md-3 {
    padding-top: 3rem;
  }
  .pd-tp-md-4 {
    padding-top: 4rem;
  }
  .pd-tp-md-5 {
    padding-top: 5rem;
  }
  .pd-tp-md-6 {
    padding-top: 6rem;
  }
  .pd-bt-md-1 {
    padding-bottom: 1rem;
  }
  .pd-bt-md-2 {
    padding-bottom: 2rem;
  }
  .pd-bt-md-3 {
    padding-bottom: 3rem;
  }
  .pd-bt-md-4 {
    padding-bottom: 4rem;
  }
  .pd-bt-md-5 {
    padding-bottom: 5rem;
  }
  .pd-bt-md-6 {
    padding-bottom: 6rem;
  }
  .pd-rt-md-1 {
    padding-right: 1rem;
  }
  .pd-rt-md-2 {
    padding-right: 2rem;
  }
  .pd-rt-md-3 {
    padding-right: 3rem;
  }
  .pd-rt-md-4 {
    padding-right: 4rem;
  }
  .pd-rt-md-5 {
    padding-right: 5rem;
  }
  .pd-rt-md-6 {
    padding-right: 6rem;
  }
  .pd-lt-md-1 {
    padding-left: 1rem;
  }
  .pd-lt-md-2 {
    padding-left: 2rem;
  }
  .pd-lt-md-3 {
    padding-left: 3rem;
  }
  .pd-lt-md-4 {
    padding-left: 4rem;
  }
  .pd-lt-md-5 {
    padding-left: 5rem;
  }
  .pd-lt-md-6 {
    padding-left: 6rem;
  }
  .pd-hz-md-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .pd-hz-md-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .pd-hz-md-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .pd-hz-md-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .pd-hz-md-5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .pd-hz-md-6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .pd-vt-md-1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .pd-vt-md-2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .pd-vt-md-3 {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .pd-vt-md-4 {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  .pd-vt-md-5 {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .pd-vt-md-6 {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .mg-tp-md-1 {
    margin-top: 1rem;
  }
  .mg-tp-md-2 {
    margin-top: 2rem;
  }
  .mg-tp-md-3 {
    margin-top: 3rem;
  }
  .mg-tp-md-4 {
    margin-top: 4rem;
  }
  .mg-tp-md-5 {
    margin-top: 5rem;
  }
  .mg-tp-md-6 {
    margin-top: 6rem;
  }
  .mg-bt-md-1 {
    margin-bottom: 1rem;
  }
  .mg-bt-md-2 {
    margin-bottom: 2rem;
  }
  .mg-bt-md-3 {
    margin-bottom: 3rem;
  }
  .mg-bt-md-4 {
    margin-bottom: 4rem;
  }
  .mg-bt-md-5 {
    margin-bottom: 5rem;
  }
  .mg-bt-md-6 {
    margin-bottom: 6rem;
  }
  .mg-rt-md-1 {
    margin-right: 1rem;
  }
  .mg-rt-md-2 {
    margin-right: 2rem;
  }
  .mg-rt-md-3 {
    margin-right: 3rem;
  }
  .mg-rt-md-4 {
    margin-right: 4rem;
  }
  .mg-rt-md-5 {
    margin-right: 5rem;
  }
  .mg-rt-md-6 {
    margin-right: 6rem;
  }
  .mg-lt-md-1 {
    margin-left: 1rem;
  }
  .mg-lt-md-2 {
    margin-left: 2rem;
  }
  .mg-lt-md-3 {
    margin-left: 3rem;
  }
  .mg-lt-md-4 {
    margin-left: 4rem;
  }
  .mg-lt-md-5 {
    margin-left: 5rem;
  }
  .mg-lt-md-6 {
    margin-left: 6rem;
  }
  .mg-hz-md-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mg-hz-md-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .mg-hz-md-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mg-hz-md-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .mg-hz-md-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .mg-hz-md-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .mg-vt-md-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .mg-vt-md-2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .mg-vt-md-3 {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .mg-vt-md-4 {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .mg-vt-md-5 {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .mg-vt-md-6 {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}
@media screen and (min-width: 769px) {
  .pd-tp-lg-1 {
    padding-top: 1rem;
  }
  .pd-tp-lg-2 {
    padding-top: 2rem;
  }
  .pd-tp-lg-3 {
    padding-top: 3rem;
  }
  .pd-tp-lg-4 {
    padding-top: 4rem;
  }
  .pd-tp-lg-5 {
    padding-top: 5rem;
  }
  .pd-tp-lg-6 {
    padding-top: 6rem;
  }
  .pd-bt-lg-1 {
    padding-bottom: 1rem;
  }
  .pd-bt-lg-2 {
    padding-bottom: 2rem;
  }
  .pd-bt-lg-3 {
    padding-bottom: 3rem;
  }
  .pd-bt-lg-4 {
    padding-bottom: 4rem;
  }
  .pd-bt-lg-5 {
    padding-bottom: 5rem;
  }
  .pd-bt-lg-6 {
    padding-bottom: 6rem;
  }
  .pd-rt-lg-1 {
    padding-right: 1rem;
  }
  .pd-rt-lg-2 {
    padding-right: 2rem;
  }
  .pd-rt-lg-3 {
    padding-right: 3rem;
  }
  .pd-rt-lg-4 {
    padding-right: 4rem;
  }
  .pd-rt-lg-5 {
    padding-right: 5rem;
  }
  .pd-rt-lg-6 {
    padding-right: 6rem;
  }
  .pd-lt-lg-1 {
    padding-left: 1rem;
  }
  .pd-lt-lg-2 {
    padding-left: 2rem;
  }
  .pd-lt-lg-3 {
    padding-left: 3rem;
  }
  .pd-lt-lg-4 {
    padding-left: 4rem;
  }
  .pd-lt-lg-5 {
    padding-left: 5rem;
  }
  .pd-lt-lg-6 {
    padding-left: 6rem;
  }
  .pd-hz-lg-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .pd-hz-lg-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .pd-hz-lg-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .pd-hz-lg-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .pd-hz-lg-5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .pd-hz-lg-6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .pd-vt-lg-1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .pd-vt-lg-2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .pd-vt-lg-3 {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .pd-vt-lg-4 {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  .pd-vt-lg-5 {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .pd-vt-lg-6 {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .mg-tp-lg-1 {
    margin-top: 1rem;
  }
  .mg-tp-lg-2 {
    margin-top: 2rem;
  }
  .mg-tp-lg-3 {
    margin-top: 3rem;
  }
  .mg-tp-lg-4 {
    margin-top: 4rem;
  }
  .mg-tp-lg-5 {
    margin-top: 5rem;
  }
  .mg-tp-lg-6 {
    margin-top: 6rem;
  }
  .mg-bt-lg-1 {
    margin-bottom: 1rem;
  }
  .mg-bt-lg-2 {
    margin-bottom: 2rem;
  }
  .mg-bt-lg-3 {
    margin-bottom: 3rem;
  }
  .mg-bt-lg-4 {
    margin-bottom: 4rem;
  }
  .mg-bt-lg-5 {
    margin-bottom: 5rem;
  }
  .mg-bt-lg-6 {
    margin-bottom: 6rem;
  }
  .mg-rt-lg-1 {
    margin-right: 1rem;
  }
  .mg-rt-lg-2 {
    margin-right: 2rem;
  }
  .mg-rt-lg-3 {
    margin-right: 3rem;
  }
  .mg-rt-lg-4 {
    margin-right: 4rem;
  }
  .mg-rt-lg-5 {
    margin-right: 5rem;
  }
  .mg-rt-lg-6 {
    margin-right: 6rem;
  }
  .mg-lt-lg-1 {
    margin-left: 1rem;
  }
  .mg-lt-lg-2 {
    margin-left: 2rem;
  }
  .mg-lt-lg-3 {
    margin-left: 3rem;
  }
  .mg-lt-lg-4 {
    margin-left: 4rem;
  }
  .mg-lt-lg-5 {
    margin-left: 5rem;
  }
  .mg-lt-lg-6 {
    margin-left: 6rem;
  }
  .mg-hz-lg-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mg-hz-lg-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .mg-hz-lg-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mg-hz-lg-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .mg-hz-lg-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .mg-hz-lg-6 {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .mg-vt-lg-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .mg-vt-lg-2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .mg-vt-lg-3 {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .mg-vt-lg-4 {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .mg-vt-lg-5 {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .mg-vt-lg-6 {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}
