body {
  background-color: #351b34;
  /* background-color: #003101; */
  /* color: #b3b3b3; */
  font-family: Palatino;
  /* margin-top: 30px; */
}

strong {
  font-weight: bold;
}

.container {
  margin: 0 50px;
  padding: 20px 10px;
  background-color: white;
  /* height: 100%; */
}

.header {
  background-color: #151144;
  color: white;
  font-family: sans-serif;
  font-size: 3em;
  font-style: oblique;
  font-weight: 600;
  letter-spacing: 4px;
  margin: -20px 0px 15px -10px;
  padding: 15px;
  text-transform: uppercase;
  width: calc(100% - 10px);
}

.grid {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: auto 500px;
  column-gap: 20px;
  row-gap: 20px;
  /* grid-template-rows: 25% 100px auto; */
}

.box {
  /* display: inline-block; */
  /* border: 1px solid orange; */
  /* width: 40%; */
}

.big {
	margin: 20px 0;
	font-size: 1.5em;
}

h1 {
  font-size: 2em;
}

h2.subhead {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 0;
}

h2 {
  margin-top: 1em;
  font-size: 1.2em;
  /* margin-bottom: 1em; */
}

h3 {
  font-size: 1.2em;
  margin: 1em 0;
}

li {
  list-style: disc;
  margin-left: 1em;
}

.image-container {
  margin: 30px 0;
}

.image-container img {
  width: 400px;
}

.now-playing-container {
  width: 400px;
  background-color: black;
  color: c8c8c8;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  /* float: right; */
}

.now-playing {
  display: flex;
  margin-bottom: 10px;
}

.now-playing-container  h1 {
  font-size: 1.5em;
  margin: 0;
}

.now-playing-container h2 {
  font-size: 1.2em;
  margin-top: 10px;
}

#note {
  text-align: right;
  margin-right: 15px;
  font-size: 1.2em;
}

.song-info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#progress_container {
  /* margin: 10px 10px; */
  position: relative;
  /* right: 5px;
  top: 2px; */
  background-color: #222;
  /* border: 1px solid blue; */
}

#progress_bar {
  height: 3em;
  text-align: right;
  background-color: #AAA;
  /* border: 1px solid green; */
}

#time_remaining {
  position: absolute;
  right: 7px;
  top: 5px
}

#image {
  width: 200px;
}

@media screen and (max-width: 840px) {
  .grid {
    grid-template-columns: 100%;
  }
  .now-playing-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 700px) {
  .now-playing-container {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
  #image {
    width: 150px;
  }

  .image-container img {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    margin: 0;
  }
  iframe {
    width: 300px;
    height: 169px;
  }
}
